@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  text-align: center;
}

h1 {
  font-size: 2.75rem;
  font-weight: 900;
  margin: 0.5rem 0 1rem;
  color: #f8d;
}

div#type {
  margin: 1rem auto 0.5rem;
}

#input-task {
  border: 1px solid #aaa;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  width: 18rem;
  font-family: 'Times New Roman', Times, serif;
}

button[class^="btn"] {
  background-color: #fef;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.list-task {
  margin-top: 0.5rem;
  padding: 0 0.25rem;
}

.item {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5em;
  margin: 0.3rem auto;
  width: 24rem;
  color: white;
  word-break: keep-all;
  font-variant: small-caps;
  background-color: #8ae2fd;
  position: relative;
  cursor: pointer;
}

.item.checked {
  color: #88d;
  text-decoration: line-through;
}

#btns-check {
  padding-bottom: 1.125rem;
  border-bottom: 1px solid #ddd;
}

.list-task input[type="checkbox"] {
  display: none;
}