@charset "utf-8";

#title {
  color: palegreen;
  font-size: 2rem;
  text-decoration: overline;
}

button {
  border: none;
  padding: 0.375rem;
  border-radius: 8px;
  background: #dff;
  color: blue;
  margin: 0 2rem;
}

#paragraph {
  color: blue;
  margin: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.5rem;
}